.insert-jitsi-input {
  margin-bottom: 1em;
  .desc {
    font-size: $font-down-1;
    color: $primary-medium;
    max-width: 260px;
  }
}

.form-kit__container-content {
  #control-mobileIframe &,
  #control-desktopIframe & {
    width: 100%;
  }
}
